@model IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <!-- sidebar mobile menu & sidebar cart - end
    ================================================== -->
    <!-- slider_section - start
    ================================================== -->
    <section class="slider_section motorcycle_slider position-relative clearfix">
        <div class="main_slider clearfix" data-slick='{"dots": false}'>
            <div class="item d-flex align-items-center text-white" data-background="assets/images/slider/motorcycle/bg_01.jpg">
                <span class="overlay" data-bg-color="#191919"></span>
                <div class="container maxw_1430">
                    <div class="col-lg-6">
                        <div class="slider_content">
                            <h3 class="text-white" data-animation="fadeInUp" data-delay=".4s">
                                Agility <span>and</span> Performance
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".6s">
                                Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut metus
                                varius laoreet srtrum aenean imperdiet. Etiam ultricies nisi vel augue.
                            </p>
                            <div class="abtn_wrap" data-animation="fadeInUp" data-delay=".8s">
                                <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Search Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider_image" data-animation="fadeInRight" data-delay=".2s">
                    <img src="assets/images/slider/motorcycle/img_01.png" alt="image_not_found">
                </div>
            </div>

            <div class="item d-flex align-items-center text-white" data-background="assets/images/slider/motorcycle/bg_01.jpg">
                <span class="overlay" data-bg-color="#191919"></span>
                <div class="container maxw_1430">
                    <div class="col-lg-6">
                        <div class="slider_content">
                            <h3 class="text-white" data-animation="fadeInUp" data-delay=".4s">
                                Agility <span>and</span> Performance
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".6s">
                                Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut metus
                                varius laoreet srtrum aenean imperdiet. Etiam ultricies nisi vel augue.
                            </p>
                            <div class="abtn_wrap" data-animation="fadeInUp" data-delay=".8s">
                                <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Search Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider_image" data-animation="fadeInRight" data-delay=".2s">
                    <img src="assets/images/slider/motorcycle/img_01.png" alt="image_not_found">
                </div>
            </div>

            <div class="item d-flex align-items-center text-white" data-background="assets/images/slider/motorcycle/bg_01.jpg">
                <span class="overlay" data-bg-color="#191919"></span>
                <div class="container maxw_1430">
                    <div class="col-lg-6">
                        <div class="slider_content">
                            <h3 class="text-white" data-animation="fadeInUp" data-delay=".4s">
                                Agility <span>and</span> Performance
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".6s">
                                Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut metus
                                varius laoreet srtrum aenean imperdiet. Etiam ultricies nisi vel augue.
                            </p>
                            <div class="abtn_wrap" data-animation="fadeInUp" data-delay=".8s">
                                <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Search Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider_image" data-animation="fadeInRight" data-delay=".2s">
                    <img src="assets/images/slider/motorcycle/img_01.png" alt="image_not_found">
                </div>
            </div>
        </div>
        <div class="carousel_nav">
            <button type="button" class="main_left_arrow"><i class="fal fa-arrow-left"></i></button>
            <button type="button" class="main_right_arrow"><i class="fal fa-arrow-right"></i></button>
        </div>
        <div class="slide_count_wrap">
            <span class="current">3</span>
            <span class="total">3</span>
        </div>
    </section>

    <!-- slider_section - end
    ================================================== -->
    <!-- category_section - start
    ================================================== -->
    <div class="category_section sec_ptb_100 clearfix">
        <div class="container maxw_1430">
            <ul class="motorcycle_category_group ul_li clearfix">
                @foreach (var cat in Model.Categories)
                {
                    <li>
                        <a class="motorcycle_category_item text-center" href="#!">
                            <span class="item_image">
                                <img src="assets/images/category/motorcycle/img_01.png" alt="image_not_found">
                            </span>
                            <small class="item_type">@cat.Description</small>
                            <strong class="item_title">@cat.Title</strong>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
    <!-- category_section - end
    ================================================== -->
    <!-- deals_section - start
    ================================================== -->
    <section class="deals_section clearfix" data-bg-color="#f5f5f5">
        <div class="motorcycle_deals_carousel sec_ptb_50 position-relative">
            <div class="slideshow1_slider clearfix" data-slick='{"dots": false}'>
                @foreach (var item in Model.Sales)
                {
                    <div class="item">
                        <div class="container maxw_1430">
                            <div class="row align-items-center justify-content-lg-between">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="item_image text-center">
                                        <img src="assets/images/deals/motorcycle/img_01.png" alt="image_not_found">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="item_content">
                                        <h3 class="item_title">
                                            @item.Product.Name
                                        </h3>
                                        <p>
                                            @item.Product.Description
                                        </p>
                                        <div class="countdown_wrap mb_30">
                                            <span class="wrap_title">Offer is time limited!</span>
                                            <ul class="countdown_timer timein_box ul_li clearfix" data-countdown="@item.Deadline.ToString("MM/dd/yyyy")"></ul>
                                        </div>
                                        <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="carousel_nav">
                <button type="button" class="left_arrow">
                    <img src="assets/images/deals/motorcycle/img_01.png" alt="image_not_found">
                </button>
                <button type="button" class="right_arrow">
                    <img src="assets/images/deals/motorcycle/img_01.png" alt="image_not_found">
                </button>
            </div>
        </div>
    </section>
    <!-- deals_section - end
    ================================================== -->
    <!-- product_section - start
    ================================================== -->
    <section class="product_section sec_ptb_100 deco_wrap clearfix">
        <div class="container maxw_1430">
            <div class="motorcycle_section_title mb_30 text-center">
                <h2 class="title_text">Our <span>Products</span></h2>
                <p class="mb-0">Aliquam lorem ante, dapibus in, viverra</p>
            </div>

            <ul class="motorcycle_tabs_nav ul_li_center nav text-uppercase" role="tablist">
                <li>
                    <a class="active" data-toggle="tab" href="#latest_tab">Latest Product</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#best_tab">Best Product</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#featured_tab">Featured Product</a>
                </li>
            </ul>

            <div class="tab-content mb_50">
                <div id="latest_tab" class="tab-pane active">
                    <div class="row justify-content-center">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="motorcycle_product_grid">
                                    <ul class="product_label ul_li text-uppercase clearfix">
                                        @if(item.Discount!=null && item.Discount>0){
                                             <li class="bg_carparts_red">Sale</li>
                                        }
                                         <li style="background:green!important" class="bg_carparts_red">New</li>
                                    </ul>
                                    <div class="item_image">
                                        <img src="assets/images/shop/motorcycle/img_01.png" alt="image_not_found">
                                        <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                            <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                            <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                            <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="item_content">
                                        @if (item.Discount != null && item.Discount > 0)
                                        {
                                            <del> @item.Price</del>
                                            <span class="item_price"> @item.Discount</span>
                                        }
                                        else
                                        {
                                            <span class="item_price"> @item.Price</span>
                                        }                                      
                                        <h3 class="item_title">
                                            <a href="#!">@item.Name</a>
                                        </h3>
                                        <span class="item_type text-uppercase">@item.Category.Title</span>
                                        <ul class="rating_star ul_li clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fal fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>

                <div id="best_tab" class="tab-pane fade">
                    <div class="row justify-content-center">
                        @foreach (var item in Model.Sales)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="motorcycle_product_grid">
                                    <ul class="product_label ul_li text-uppercase clearfix">
                                        <li class="bg_carparts_red">Sale</li>
                                    </ul>
                                    <div class="item_image">
                                        <img src="assets/images/shop/motorcycle/img_01.png" alt="image_not_found">
                                        <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                            <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                            <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                            <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="item_content">
                                        @if (item.Product.Discount != null && item.Product.Discount > 0)
                                        {
                                            <del> @item.Product.Price</del>
                                            <span class="item_price"> @item.Product.Discount</span>
                                        }
                                        else
                                        {
                                            <span class="item_price"> @item.Product.Price</span>
                                        }
                                        <h3 class="item_title">
                                            <a href="#!">@item.Product.Name</a>
                                        </h3>
                                        <span class="item_type text-uppercase">@item.Product.Category.Title</span>
                                        <ul class="rating_star ul_li clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fal fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>

                <div id="featured_tab" class="tab-pane fade">
                       <div class="row justify-content-center">
                        @foreach (var item in Model.FeaturedProducts)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="motorcycle_product_grid">
                                    <ul class="product_label ul_li text-uppercase clearfix">
                                        @if(item.Discount!=null && item.Discount>0){
                                             <li class="bg_carparts_red">Sale</li>
                                        }
                                         <li style="background:green!important" class="bg_carparts_red">New</li>
                                    </ul>
                                    <div class="item_image">
                                        <img src="assets/images/shop/motorcycle/img_01.png" alt="image_not_found">
                                        <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                            <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                            <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                            <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="item_content">
                                        @if (item.Discount != null && item.Discount > 0)
                                        {
                                            <del> @item.Price</del>
                                            <span class="item_price"> @item.Discount</span>
                                        }
                                        else
                                        {
                                            <span class="item_price"> @item.Price</span>
                                        }                                      
                                        <h3 class="item_title">
                                            <a href="#!">@item.Name</a>
                                        </h3>
                                        <span class="item_type text-uppercase">@item.Category.Title</span>
                                        <ul class="rating_star ul_li clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fal fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>

            <div class="load_more text-center clearfix">
                <a class="custom_btn bg_carparts_red text-uppercase" href="#!">View More</a>
            </div>
        </div>

        <div class="deco_image motorcycle_image_1">
            <img src="assets/images/home_motorcycle/img_01.png" alt="image_not_found">
        </div>
    </section>
    <!-- product_section - end
    ================================================== -->
    <!-- feature_section - start
    ================================================== -->
    <section class="feature_section motorcycle_big_feature sec_ptb_100 has_overlay parallaxie clearfix" data-background="assets/images/backgrounds/bg_16.jpg">
        <div class="overlay"></div>
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <ul class="tabs_menu nav ul_li_block clearfix" role="tablist">
                        <li>
                            <a class="active" data-toggle="tab" href="#tab_one">
                                <img src="assets/images/feature/motorcycle/img_02.png" alt="image_not_found">
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab_two">
                                <img src="assets/images/feature/motorcycle/img_03.png" alt="image_not_found">
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab_three">
                                <img src="assets/images/feature/motorcycle/img_04.png" alt="image_not_found">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-10">
                    <div class="tab-content">
                        <div id="tab_one" class="tab-pane active">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="item_image text-center">
                                        <img src="assets/images/feature/motorcycle/img_01.png" alt="image_not_found">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item_content">
                                        <h3 class="item_title mb_15">
                                            Adjusts The Hydraulic Fork
                                        </h3>
                                        <p class="mb_15">
                                            Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut metus
                                            varius laoreet srtrum aenean imperdiet. Etiam ultricies nisi vel augue.
                                        </p>
                                        <ul class="info_list ul_li_block mb_30 clearfix">
                                            <li><i class="fal fa-check"></i> web & Mobile - Optimized</li>
                                            <li><i class="fal fa-check"></i> Coustom domain server</li>
                                            <li><i class="fal fa-check"></i> best hosting on the market</li>
                                            <li><i class="fal fa-check"></i> outstanding support</li>
                                        </ul>
                                        <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab_two" class="tab-pane fade">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="item_image text-center">
                                        <img src="assets/images/feature/motorcycle/img_01.png" alt="image_not_found">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item_content">
                                        <h3 class="item_title mb_15">
                                            Adjusts The Hydraulic Fork
                                        </h3>
                                        <p class="mb_15">
                                            Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut metus
                                            varius laoreet srtrum aenean imperdiet. Etiam ultricies nisi vel augue.
                                        </p>
                                        <ul class="info_list ul_li_block mb_30 clearfix">
                                            <li><i class="fal fa-check"></i> web & Mobile - Optimized</li>
                                            <li><i class="fal fa-check"></i> Coustom domain server</li>
                                            <li><i class="fal fa-check"></i> best hosting on the market</li>
                                            <li><i class="fal fa-check"></i> outstanding support</li>
                                        </ul>
                                        <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab_three" class="tab-pane fade">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="item_image text-center">
                                        <img src="assets/images/feature/motorcycle/img_01.png" alt="image_not_found">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item_content">
                                        <h3 class="item_title mb_15">
                                            Adjusts The Hydraulic Fork
                                        </h3>
                                        <p class="mb_15">
                                            Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut metus
                                            varius laoreet srtrum aenean imperdiet. Etiam ultricies nisi vel augue.
                                        </p>
                                        <ul class="info_list ul_li_block mb_30 clearfix">
                                            <li><i class="fal fa-check"></i> web & Mobile - Optimized</li>
                                            <li><i class="fal fa-check"></i> Coustom domain server</li>
                                            <li><i class="fal fa-check"></i> best hosting on the market</li>
                                            <li><i class="fal fa-check"></i> outstanding support</li>
                                        </ul>
                                        <a class="custom_btn bg_carparts_red text-uppercase" href="#!">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_section - end
    ================================================== -->
    <!-- feature_section - start
    ================================================== -->
    <section class="feature_section clearfix">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature_fullimage text-center">
                        <img src="assets/images/feature/motorcycle/img_05.jpg" alt="image_not_found">
                        <div class="item_content">
                            <h3 class="item_title text-white mb_30">ACCELERATING </h3>
                            <a class="custom_btn btn_sm bg_black text-uppercase" href="#!">Shop Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature_fullimage text-center">
                        <img src="assets/images/feature/motorcycle/img_06.jpg" alt="image_not_found">
                        <div class="item_content">
                            <h3 class="item_title text-white mb_30">ACCELERATING </h3>
                            <a class="custom_btn btn_sm bg_black text-uppercase" href="#!">Shop Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature_fullimage text-center">
                        <img src="assets/images/feature/motorcycle/img_07.jpg" alt="image_not_found">
                        <div class="item_content">
                            <h3 class="item_title text-white mb_30">ACCELERATING </h3>
                            <a class="custom_btn btn_sm bg_black text-uppercase" href="#!">Shop Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature_fullimage text-center">
                        <img src="assets/images/feature/motorcycle/img_08.jpg" alt="image_not_found">
                        <div class="item_content">
                            <h3 class="item_title text-white mb_30">ACCELERATING </h3>
                            <a class="custom_btn btn_sm bg_black text-uppercase" href="#!">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_section - end
    ================================================== -->
    <!-- product_section - start
    ================================================== -->
    <section class="product_section sec_ptb_100 deco_wrap clearfix">
        <div class="container maxw_1430">
            <div class="motorcycle_section_title mb_30 text-center">
                <h2 class="title_text">Our <span>Products</span></h2>
                <p class="mb-0">Aliquam lorem ante, dapibus in, viverra</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="motorcycle_product_grid">
                        <ul class="product_label ul_li text-uppercase clearfix">
                            <li class="bg_carparts_red">Sale</li>
                        </ul>
                        <div class="item_image">
                            <img src="assets/images/shop/motorcycle/img_08.png" alt="image_not_found">
                            <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                            </ul>
                        </div>
                        <div class="item_content">
                            <span class="item_price">$250.00</span>
                            <h3 class="item_title">
                                <a href="#!">BRAKES</a>
                            </h3>
                            <span class="item_type text-uppercase">helmets - quality</span>
                            <ul class="rating_star ul_li clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fal fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="motorcycle_product_grid">
                        <ul class="product_label ul_li text-uppercase clearfix">
                            <li class="bg_carparts_red">Sale</li>
                        </ul>
                        <div class="item_image">
                            <img src="assets/images/shop/motorcycle/img_09.png" alt="image_not_found">
                            <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                            </ul>
                        </div>
                        <div class="item_content">
                            <span class="item_price">$250.00</span>
                            <h3 class="item_title">
                                <a href="#!">BRAKES</a>
                            </h3>
                            <span class="item_type text-uppercase">helmets - quality</span>
                            <ul class="rating_star ul_li clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fal fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="motorcycle_product_grid">
                        <ul class="product_label ul_li text-uppercase clearfix">
                            <li class="bg_carparts_red">Sale</li>
                        </ul>
                        <div class="item_image">
                            <img src="assets/images/shop/motorcycle/img_04.png" alt="image_not_found">
                            <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                            </ul>
                        </div>
                        <div class="item_content">
                            <span class="item_price">$250.00</span>
                            <h3 class="item_title">
                                <a href="#!">BRAKES</a>
                            </h3>
                            <span class="item_type text-uppercase">helmets - quality</span>
                            <ul class="rating_star ul_li clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fal fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="motorcycle_product_grid">
                        <ul class="product_label ul_li text-uppercase clearfix">
                            <li class="bg_carparts_red">Sale</li>
                        </ul>
                        <div class="item_image">
                            <img src="assets/images/shop/motorcycle/img_07.png" alt="image_not_found">
                            <ul class="product_action_btns ul_li_block text-uppercase text-center clearfix">
                                <li><a href="#!"><span><i class="fas fa-shopping-cart"></i></span> <span>Add To Cart</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-eye"></i></span> <span>Quick View</span></a></li>
                                <li><a href="#!"><span><i class="fas fa-filter"></i></span> <span>Compare</span></a></li>
                            </ul>
                        </div>
                        <div class="item_content">
                            <span class="item_price">$250.00</span>
                            <h3 class="item_title">
                                <a href="#!">BRAKES</a>
                            </h3>
                            <span class="item_type text-uppercase">helmets - quality</span>
                            <ul class="rating_star ul_li clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fal fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_section - end
    ================================================== -->
    <!-- testimonial_section - start
    ================================================== -->
    <section class="testimonial_section motorcycle_testimonial sec_ptb_100 clearfix">
        <div class="half_bg parallaxie" data-background="assets/images/backgrounds/bg_17.jpg"></div>
        <div class="container maxw_1430">
            <div class="carousel_wrap position-relative">
                <div class="motorcycle_testimonial_carousel" data-slick='{"dots": false}'>
                    <div class="item">
                        <div class="motorcycle_testimonial_item bg_white">
                            <div class="item_image">
                                <img src="assets/images/meta/img_02.jpg" alt="image_not_found">
                            </div>
                            <div class="item_content">
                                <h4 class="sub_title">TESTIMONIALS</h4>
                                <h3 class="title_text">
                                    <span>BOSTON'S</span> MOTORCYCLE CLUB
                                </h3>
                                <span class="quote_icon">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                <ul class="admin_image ul_li mb_30 clearfix">
                                    <li><img src="assets/images/meta/img_03.jpg" alt="image_not_found"></li>
                                    <li><img src="assets/images/meta/img_04.jpg" alt="image_not_found"></li>
                                </ul>
                                <h5 class="admin_name">JOHN DOE</h5>
                                <p class="mb-0">
                                    If you are looking to find a group of well-established and safe to ride with, you’ve found us. We were founded as a formal motorcycle club in Boston in 1985, and are still going strong. We focus on safe riding and we also ride for with any questions you may have.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="motorcycle_testimonial_item bg_white">
                            <div class="item_image">
                                <img src="assets/images/meta/img_02.jpg" alt="image_not_found">
                            </div>
                            <div class="item_content">
                                <h4 class="sub_title">TESTIMONIALS</h4>
                                <h3 class="title_text">
                                    <span>BOSTON'S</span> MOTORCYCLE CLUB
                                </h3>
                                <span class="quote_icon">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                <ul class="admin_image ul_li mb_30 clearfix">
                                    <li><img src="assets/images/meta/img_03.jpg" alt="image_not_found"></li>
                                    <li><img src="assets/images/meta/img_04.jpg" alt="image_not_found"></li>
                                </ul>
                                <h5 class="admin_name">JOHN DOE</h5>
                                <p class="mb-0">
                                    If you are looking to find a group of well-established and safe to ride with, you’ve found us. We were founded as a formal motorcycle club in Boston in 1985, and are still going strong. We focus on safe riding and we also ride for with any questions you may have.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="motorcycle_testimonial_item bg_white">
                            <div class="item_image">
                                <img src="assets/images/meta/img_02.jpg" alt="image_not_found">
                            </div>
                            <div class="item_content">
                                <h4 class="sub_title">TESTIMONIALS</h4>
                                <h3 class="title_text">
                                    <span>BOSTON'S</span> MOTORCYCLE CLUB
                                </h3>
                                <span class="quote_icon">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                <ul class="admin_image ul_li mb_30 clearfix">
                                    <li><img src="assets/images/meta/img_03.jpg" alt="image_not_found"></li>
                                    <li><img src="assets/images/meta/img_04.jpg" alt="image_not_found"></li>
                                </ul>
                                <h5 class="admin_name">JOHN DOE</h5>
                                <p class="mb-0">
                                    If you are looking to find a group of well-established and safe to ride with, you’ve found us. We were founded as a formal motorcycle club in Boston in 1985, and are still going strong. We focus on safe riding and we also ride for with any questions you may have.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel_nav">
                    <button type="button" class="mt_left_arrow"><i class="fal fa-angle-left"></i></button>
                    <button type="button" class="mt_right_arrow"><i class="fal fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial_section - end
    ================================================== -->
    <!-- motorcycle_instagram - start
    ================================================== -->
    <div class="motorcycle_instagram clearfix" data-bg-color="#f5f5f5">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_31.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_32.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_33.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_34.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_35.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_36.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_37.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_38.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_39.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_40.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_41.jpg" alt="image_not_found">
                    </a>
                </div>

                <div class="col-lg-2 col-md-3 col-md-4 col-6">
                    <a class="motorcycle_instagram_image">
                        <img src="assets/images/instagram/img_42.jpg" alt="image_not_found">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- motorcycle_instagram - end
    ================================================== -->
    <!-- barnd_section - start
    ================================================== -->
    <div class="barnd_section sec_ptb_50 clearfix">
        <div class="container maxw_1430">
            <div class="barnd_carousel clearfix">
                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_37.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_38.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_39.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_40.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_41.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_42.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_37.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_38.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_39.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_40.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_41.png" alt="image_not_found">
                    </a>
                </div>

                <div class="item">
                    <a class="brand_item" href="#!">
                        <img src="assets/images/brands/img_42.png" alt="image_not_found">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- barnd_section - end
    ================================================== -->


</main>
<!-- main body - end
================================================== -->
